

/* Adjust 'main' width*/
#main-section {
    max-height: 100%;
    max-width: 100%;
}

/* Manually adjusting the hover background color of the social media buttons */
#account-option-button:hover {
    background-color: rgba(0, 0, 0, 0.08) !important;
}

/* Color adjust of social media buttons' border */
#account-option-button {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
